body {
    background: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    width: 360px;
    margin: 50px auto;
    background: rgb(209, 130, 255);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-section {
    display: flex;
    gap: 10px;
}

input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #318a8a;
    border-radius: 8px;
}

button {
    padding: 10px 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.filter-section {
    margin-top: 15px;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

ul {
    margin-top: 20px;
    padding: 0;
}

li {
    list-style: none;
    background: #83e767;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.action-buttons button {
    margin-left: 6px;
    background: #6c757d;
}

.action-buttons button:hover {
    background: #5a6268;
}
